<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
</head>
<!-- content inside navbar -->
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				
				<a class="navbar-brand" href="#">Hobby Connect</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav"><br>
						<a class="nav-item nav-link" href="/main/">Home</a>



						</div>
					<div class="navbar-nav ml-auto">
						{% block nav %}
						{% endblock %}
					</div>
				</div>
			</div>
		</nav> <!--  end of contentens in navbar--><br><br>

		<h6>In our day to day life all of us are lost in our hectic work and we won't realise there is life beyond that...lateron we will end up with a statements such as "life is boring" and so on.<br>
			each individual possess one or other hobby,passion or interest such as cricket,fotball,basketball,caram etc...but the problem arises here is,these games can not be played alone it eventually requires a partners hence I came up with an web application called "HOBBY CONNECT".<br><br>which is a platform where the various people with the commom interest/hobby can connect through this application.HOBBY CONNECT displays the profiles of various people and then the other users can view the profiles of those people with common interest.<br><br>The users are also given a chance to send a request to the any person who have the common hobby,or would like to contact that person personally so that both of them will be having the chance for the scope of meeting and then able to carryon there passion.<br><br>
HOBBY CONNECT will be able to maintain the information like the details of users such as name,interests,bio,phone number,age,profile picture. there is a field called BIO where the user can explain about him briefly.the other application of this app is the artist,photographars etc can update their details so that the people can ping then and they can get there work donethrough them(builds contacts among people).
</h6><br><br>


	


</body>


